h1{
    color:blueviolet
}

img{
    width: 400px
}

#thirdDiv{
    background-color: aliceblue;
    height: 600px;
    width: 500px;
    padding: 50px blue;
    border: 10px rebeccapurple solid;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}